@use "../../mixins/" as *;
@use "../../presets/" as *;

.publication-main {
    background-color: $color-grey-bg;
    border-radius: 12px 12px 0px 0px;
}

.publication {
    @extend %container;

    @include min-md {
        padding-top: 40px;
        margin-top: 55px;
        padding-bottom: 60px;
    }

    @include max-md {
        padding-top: 20px;
        padding-bottom: 30px;
        margin-top: 20px;
    }

    &-switch {
        margin-inline: auto;
        margin-bottom: 40px;

        @include max-md {
            margin-bottom: 20px;
        }
    }

    &-more {
        display: flex;
        justify-content: center;

        @include max-md {
            margin-top: 12px;
        }
    }
}