@use "../../../mixins" as *;
@use "../../../presets" as *;

.menu {
    &__list {
        @include unlist;
        display: flex;
        gap: 15px;

        @include max-lg {
            position: fixed;
            opacity: 0;
            z-index: -3;
        }

        &.opened {
            opacity: 1;
            z-index: 3;
            right: 0;
            transition: 0.5s;
            display: flex;
            min-width: 150px;
            max-width: 250px;
            flex-direction: column;
            background-color: $color-main;

            li {
                padding: 15px;
                margin: 15px;
                text-align: center;
            }
        }

        .active {
            display: block;
            color: $color-accent;
            border-bottom: 2px solid $color-accent;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }

    &__btn {
        position: relative;
        width: 50px;
        height: 40px;
        cursor: pointer;
        overflow: hidden;
        margin-right: 0;
        margin-left: auto;

        @include min-lg {
            display: none;
        }

        span {
            position: absolute;
            background-color: $color-grey-text;
            width: 40px;
            height: 3px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;

            &:nth-of-type(2) {
                top: calc(50% - 10px);
            }

            &:nth-of-type(3) {
                top: calc(50% + 10px);
            }
        }

        &.active {
            span {
                &:nth-of-type(1) {
                    opacity: 0;
                    transform: translateX(100%);
                }

                &:nth-of-type(2) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-of-type(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
}