@use "../presets/variables" as *;

@mixin unlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin abs-position ($t: 0, $r: 0, $b: 0, $l: 0) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

@mixin text-gradient ($gradient) {
    span {
        background: linear-gradient($gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

@mixin text-gradient-pt ($gradient) {
    background: linear-gradient($gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@mixin cases-box {
    padding: 20px;
    background-color: $color-grey-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}