@use "../../../mixins" as *;
@use "../../../presets" as *;

.expirience {
    background-color: $color-main;
    margin-top: -5px;
    margin-bottom: -5px;
    overflow: hidden;

    &-container {
        @extend %container;

        @include min-lg {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @include max-lg {
            padding-top: 40px;
            padding-bottom: 45px;
        }
    }
}

.slider {
    display: flex;
    column-gap: 80px;

    @include max-lg {
        flex-direction: column;
    }

    &__headers {
        position: relative;
        max-width: 527px;
        display: flex;
        flex-direction: column;
        gap: $gap;

        @include min-lg {

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                width: 4px;
                right: -42px;
                background-color: $color-white;
                z-index: 1;
            }
        }

        .active {
            @include min-lg {
                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    width: 4px;
                    right: -42px;
                    background-color: $color-accent;
                    z-index: 2;
                }
            }

            @include max-lg {
                display: block;
            }

            @include text-gradient ($bg-gradient-2);
        }
    }

    &__header {
        color: $color-grey-text;
        margin: 0;
        position: relative;
        cursor: pointer;

        @include min-lg {
            font-size: 42px;
            line-height: 50px;
            text-align: right;
        }

        @include max-lg {
            display: none;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    &__notes {
        @include min-lg {
            max-width: 630px;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;

        .active {
            display: block;
        }
    }

    &__note {
        display: none;
        color: $color-white;

        &-title {
            @include min-lg {
                font-size: 32px;
                line-height: 38px;
                margin-top: 0;
            }

            @include max-lg {
                font-size: 22px;
                line-height: 26px;
                margin-top: $gap-sm;
            }

            margin-bottom: $gap;
        }

        &-description {
            @include max-lg {
                line-height: 26px;
                font-size: 18px;
            }

            @include min-lg {
                font-size: 21px;
                line-height: 30px;
            }
        }
    }
}

.slider {
    &__indicators {
        display: flex;
        gap: 15px;
        margin-top: $gap;
        justify-content: center;

        @include min-lg {
            display: none;
        }
    }

    &__indicator {
        background: $color-active-regular;
        opacity: 0.2;
        width: 16px;
        height: 16px;
        border-radius: $gap;

        &.active {
            opacity: 1;
        }
    }
}