@use "../../../mixins/" as *;
@use "../../../presets" as *;

.representation {
    @include max-lg {
        padding-top: 40px;
    }

    @include min-lg {
        margin-top: 60px;
    }

    &-container {
        @extend %container;
    }
}

.roundabout {
    display: flex;
    gap: $gap * 2;
    background-color: $color-grey-bg;
    border-radius: 12px;

    &__image {
        position: relative;
        width: 413px;
        height: 500px;

        @include max-lg {
            display: none;
        }
    }

    &__picture {
        position: absolute;
        transition: 1s;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }
}

.roundabout-excerption {
    @include max-lg {
        padding-top: $gap;
        padding-bottom: $gap;
    }

    @include min-lg {
        padding-top: $gap * 2;
        padding-bottom: $gap * 2;
    }

    &__link {
        color: $color-active-regular;
    }

    &__quote {
        margin: 5px 0px 20px 0px;
    }

    &__title {
        @include text-gradient-pt($bg-gradient-6);
        font-weight: 700;
        margin: 0;

        @include max-lg {
            font-size: 32px;
            line-height: 38px;
        }

        @include min-lg {
            font-size: 42px;
            line-height: 50px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        height: 60px;
    }

    &__picture {
        padding-right: $gap-sm;
        position: relative;
        width: 60px;
        height: 60px;

        @include min-lg {
            display: none;
        }
    }

    &__image {
        opacity: 0;
        background-blend-mode: normal, multiply, normal;
        border-radius: 120px;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: 1s;

        &.active {
            opacity: 1;
        }
    }

    &__worker {
        position: relative;
        top: -25px;
        left: 10px;

        &-name {
            opacity: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $color-grey-text;
            position: absolute;
            @include abs-position (0px, 0, auto, 0px);
            width: max-content;
            height: auto;
            transition: 1s;

            &.active {
                opacity: 1;
            }
        }

        &-post {
            opacity: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $color-grey-text;
            transition: 1s;
            position: absolute;
            @include abs-position (24px, auto, auto, 0px);
            width: max-content;
            height: auto;

            &.active {
                opacity: 1;
            }
        }
    }
}

.representation__slider {
    &-indicators {
        display: flex;
        gap: 15px;
        margin-top: $gap;
        justify-content: center;
    }

    &-indicator {
        background: $color-active-regular;
        opacity: 0.2;
        width: 16px;
        height: 16px;
        border-radius: $gap;
        cursor: pointer;
        
        &:hover {
            opacity: 1;
        }
        
        &.active {
            transition: 1s;
            opacity: 1;
        }
    }
}