@use "../../../mixins" as *;
@use "../../../presets" as *;

.current__services {
    @extend %container;
    border-top: 4px solid hsla(0, 0%, 100%, 0.5);
    color: $color-white;
    padding-top: $gap;
    padding-bottom: 70px;
    max-width: 1090px;

    &::after {
        position: absolute;
        content: "";
        left: 20px;
        top: 100%;
        bottom: 0px;
        right: 20px;
        height: 10px;
        background: $color-grey-bg-hard;
        border-radius: 0px 0px 12px 12px;
        
    }

    &::before {
        position: absolute;
        content: "";
        left: 40px;
        top: 100%;
        bottom: 0px;
        right: 40px;
        height: 20px;
        background: $color-grey-bg-light;
        border-radius: 0px 0px 12px 12px;
       
    }

    &__name {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: $gap;
    }

    &__list {
        margin-top: $gap-sm;
        margin-bottom: 0;
        gap: 65px;
        
        @include min-md {
            column-count: 2;

        }

        @include max-md {

        }
    }

    &__item {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;

        &::marker {
            color: $color-accent;
        }
    }
}