@use "../../../mixins" as *;
@use "../../../presets" as *;

.service-skill {
    position: relative;

    &::before {
        content: "";
        @include abs-position (0, 0, 0, 0);
        background: linear-gradient($bg-gradient-8);
        background-position: 100% 325px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        border-radius: 0px 0px 12px 12px;
    }

    &__container {
        position: relative;
        min-height: 730px;

        @include max-sm {
            min-height: 100vh;
        }

        &::after {
            content: '';
            @include abs-position (0, 0, auto, 0);
            min-height: 500px;
            background: $color-main url(../../../../images/header.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 70%;
            z-index: -1;
        }
    }
}