@use "../../../mixins" as *;
@use "../../../presets" as *;

.services-current {
    @extend %container;
    border-top: 4px solid hsla(0, 0%, 100%, 0.5);
    color: $color-white;
    padding-top: $gap;
    max-width: 1090px;
    
    @include min-sm {
        padding-bottom: 70px;
    }

    @include max-sm {
        padding-bottom: $gap;
    }

    &::after {
        content: "";
        @include abs-position(100%, 20px, 0, 20px);
        height: 10px;
        background: $color-grey-bg-hard;
        border-radius: 0px 0px 12px 12px;
    }

    &::before {
        content: "";
        @include abs-position(100%, 40px, 0, 40px);
        height: 20px;
        background: $color-grey-bg-light;
        border-radius: 0px 0px 12px 12px;
    }

    &__name {
        
        @include min-sm {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: $gap;
            
        }

        @include max-sm {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: $gap-sm;
        }


    }

    &__list {
        margin-top: $gap-sm;
        margin-bottom: 0;
        gap: 65px;
        
        @include min-md {
            column-count: 2;
        }
    }

    &__item {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;

        &::marker {
            color: $color-accent;
        }
    }
}