@use "../mixins" as *;
@use "variables" as *;

%container {
    max-width: $ul;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

%container-max {
    max-width: 1480px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

%container-min {
    max-width: 1095px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

%propety-link {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
}

%retreat {
    margin-top: 80px;
    margin-bottom: 50px;

    @include min-md {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    @include max-md {
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
