@use "../mixins" as *;
@use "variables" as *;

%container {
    max-width: $ul;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

%container-max {
    max-width: 1480px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-inline: auto;
}

%propety-link {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
}