@use "../mixins" as *;
@use "../presets" as *;

.link-details {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: revert;
    gap: 2px;
}

.strong-link {
    display: block;
    width: max-content;
}

.footer-border {
    border-top: 4px solid $color-grey-separator;
}

.current-page__white {
    color: $color-white;
}

.current-page__main {
    color: $color-main;
}