@use "../mixins" as *;
@use "../presets" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'TTNorms', sans-serif;
}

body {
  min-width: 375px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover {
    color: $color-active-hover;
  }

  &:active {
    color: $color-active-active;
  }
}