@use "../mixins" as *;
@use "../presets" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'TT Norms', sans-serif;
  font-size: 16px;
}

body {
  min-width: 375px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover:not(.active) {
    color: $color-active-hover;
  }

  &:active {
    color: $color-active-active;
  }
}

.btn-more {
  padding: 0.5em;
  width: 250px;
  height: 50px;
  border: none;
  background: $color-active-regular;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color-white;
  cursor: pointer;
}
